<%= container_tag('header') do %>
  <div class='span12'>
    <%= render_page_title(parent.title) %>
    <%= render_html_text(parent.body) %> 
  </div> 
<% end %>
<%= container_tag('body') do %>
  <div class='span12 grid-post grid-post-partner'>
  <% if collection.any? %>
      <% column_clazz = (12 / parent.column_count).ceil %>
    <% collection.in_groups_of(parent.column_count, false) do |group|%>
      <div class='row-fluid'>
        <%= render group, :clazz => column_clazz %>
      </div> 
    <% end %>  
    <%= render_pagination %>
  <% else %>
    <%= render "no_records_found" %>
  <% end %>
  </div>
<% end %>