<div class="arrow-left"></div>
<% cache [site, I18n.locale, 'home2'] do %>
	<%
	@projects = site.projects.latest(2)
	@posts = site.posts.recent(2)
	@twit = site.twits.first
	@features = site.features.live
	%>
	<% if @features.any? %>
	<div class="row-fluid">
	  <div class="span12"  id="home-features">
	    <%= render 'shared/carousel', :features => @features %>
	  </div>
	</div>
	<% end %>
	<div class="row-fluid">
	  <div class="span12"  id="recent-twits">
	    <p class='thumbnail-description'> 
			<strong><%= l(@twit.published_at, :format => :long) %></strong>
	      	<%= @twit.body.html_safe %>
	    </p>
	 </div>
	</div>
	<div class="row-fluid row-fluid-body">
	  <div class="span6"  id="recent-works">
		<h3>Projets récents</h3>
	    <%= grid_tag(2) do %>
			<% @projects.each do |project| %>
				<%# cache [action_name, project.site, I18n.locale, project.section, project] do %>
				<li>
				 <div class="thumbnail"> 
		         	<% if project.thumbnail %>
		          	<div class="image"> 
		            	<%= link_to(image_fu(project.thumbnail, "230x162#"), project.public_url) %>
		          	</div>
		         	<% end %>
		         	<h3 class="title">
		           		<%= link_to(project.title, project.public_url, :class => 'entry-title', :rel => 'bookmark') %>
		         	</h3>
				</div>
		       </li>
			<%# end %>
	       <% end %>
	    <% end if @projects.try(:any?) %>
	  </div>
	  <div class="span6"  id="recent-posts">
		<h3>Articles récents</h3>
	    <%= grid_tag(2) do %>
			<% @posts.each do |post| %>
				<%# cache [action_name, post.site, I18n.locale, post.section, post] do %>
				<li>
				 <div class="thumbnail"> 
		         	<% if post.thumbnail %>
		          	<div class="image"> 
		            	<%= link_to(image_fu(post.thumbnail, "230x162#"), post.public_url) %>
		          	</div>
		         	<% end %>
		         	<h3 class="title">
		           		<%= link_to(post.title, post.public_url, :class => 'entry-title', :rel => 'bookmark') %>
		         	</h3>
				</div>
		       </li>
			<%# end %>
	       <% end %>
	    <% end if @posts.try(:any?)  %>
	  </div>
	</div>
	<%= render_html_text(resource.body) unless resource.body.blank? %>
<% end %>