<% resource_cache(resource) do %> 
<article id='post'>
  <%= container_tag('header') do %> 
  <div class='span12'>
    <header>
      <%= page_title(resource.title) %>
      <small>
        <time datetime="<%=l resource.published_at.to_date, :format => :default %>" class='posted_at'>
          <%= t('posts.posted_at', :when => l(resource.published_at.to_date, :format => :short)) %>
        </time>
        <% if (categories = resource.categories).any? %>
            <%= t('posts.filed_in') %>
            <%= raw categories.collect { |c| link_to(c.title, [parent, c]) }.to_sentence %>
        <% end %>
        <% if resource.author_name.present? %>
          <%= raw(t('posts.posted_by')) %>
          <span class='author'><%= raw(resource.author_name) %></span>
        <% end %>
      </small>
    </header><!-- end header -->
  </div>
  <% end %>
  <%= container_tag('body') do %>
  <div class='span8'>
      <%= render_slideshow_for(resource) %>
      <%= render_html_text(resource.body) %>
    </div>
    <aside class='span4 sidebar'>
      <%= render_parent_categories(:title => "Catégories") %> 
      <%= render_parent_stickers %>
      <%#= render_next_previous %>
    </aside><!-- end aside -->
  </div>
  <% end %>          
</article>
<% end %>